@import '~antd/dist/antd.dark.css';

.app{
    height: 100vh;
}

.nav{
    background-color: #111111;
    height: 70px;
}

.card-title{
    cursor: pointer;
    color: #f5c518;
}

.main-content{
    margin-top: 16px;
    margin-bottom: 16px;
}
